extends ../layouts/main
block content
  .height-30
  - var upsince = moment().add('seconds',-1*parseInt(os.uptime().toString().split('.')[0]));
  pre.
    {{
      {
        "application":
        {
          "gitDescribe": "#{gitDescribe}",
          "config" : !{JSON.stringify(nconf.get(),null,2)}
        },
        "server" :
        {
          "localTime" : "#{moment().format("L LT")}",
          "localOffset" : "#{moment().format('Z')}",
          "upSince": "#{upsince.calendar()} (#{upsince.fromNow()})",
          "memory": "#{bytes(os.totalmem())}",
          "freeMemory": "#{bytes(os.freemem())}",
          "cpuEndianness": "#{os.endianness()}",
          "os" :{
            "hostName": "#{os.hostname()}",
            "type": "#{os.type()}",
            "platform": "#{os.platform()}",
            "architecture": "#{os.arch()}",
            "release": "#{os.release()}",
            "EOL": "#{os.EOL}",
            "loadAverages": !{JSON.stringify(os.loadavg(),null,2)}
          },
          "nics": !{JSON.stringify(os.networkInterfaces(),null,2)}
        }
      }
    | json }}
  .height-30